" 设置当前行号
set number
set relativenumber
" 设置vim数字格式为10进制
set nrformats=
" 回溯历史命令，避免使用光标按键
cnoremap <C-p> <Up>
cnoremap <C-n> <Down>

" 映射%%为%:h ，方便展开当前文件所在的目录
cnoremap <expr> %% getcmdtype() == ':' ? expand('%:h').'/' : '%%'

" netrw插件
set nocompatible
filetype plugin on

" 增强%命令，如可匹配HTML的标签页，if/else跳转
runtime macros/matchit.vim

" 增量查找
set incsearch
" 查找结果高亮
set hlsearch

set scrolloff=5
" formatting
map Q gq

set clipboard-=unnamed

" ----------- Plugin ----------
set NERDTree
set surround
let mapleader=" "
set commentary
set idearefactormode=keep
set ideajoin

if has('ide')

    " ----------- Bind IDE Action ----------

    " --- AceJump ---
    noremap <silent> <leader><leader>f :action AceAction<CR>
    voremap <silent> <leader><leader>f :action AceAction<CR>
    noremap <silent> <leader><leader>F :action AceTargetAction<CR>
    voremap <silent> <leader><leader>F :action AceTargetAction<CR>
    " --- normal mode ---
    noremap <silent> <leader>rr :action Run<CR>
    noremap <silent> <leader>rR :action RunClass<CR>
    noremap <silent> <leader>rD :action DebugClass<CR>
    noremap <silent> <leader>rl :action Flutter.Toolbar.ReloadAction<CR>
    noremap <silent> [w :action CloseContent<CR>
    noremap <silent> [b :action PreviousTab<CR>
    noremap <silent> ]b :action NextTab<CR>
    noremap <silent> gi :action GotoImplementation<CR>
    noremap <silent> <leader>hh :noh<CR>
    " active tool window related
    noremap <silent> <leader>ha :action HideAllWindows<CR>
    noremap <silent> <leader>ap :action ActivateProjectToolWindow<CR>
    noremap <silent> <leader>at :action ActivateTerminalToolWindow<CR>
    noremap <silent> <leader>ab :action ActivateBuildToolWindow<CR>
    noremap <silent> <leader>a0 :action ActivateCommitToolWindow<CR>
    noremap <silent> <leader>ad :action ActivateDebugToolWindow<CR>
    noremap <silent> <leader>as :action ActivateStructureToolWindow<CR>
    noremap <silent> <leader>af :action SelectInProjectView<CR>
    noremap <silent> <leader>ag :action ActivateVersionControlToolWindow<CR>
    " active popup window
    noremap <silent> <leader>pi :action QuickImplementations<CR>
    noremap <silent> <leader>pf :action FileStructurePopup<CR>
    noremap <silent> <leader>fg :action FindInPath<CR>
    noremap <silent> <leader>ff :action SearchEverywhere<CR>
    " close editors related
    noremap <silent> <leader>c0 :action CloseAllEditors<CR>
    noremap <silent> <leader>ct :action CloseActiveTab<CR>
    noremap <silent> <leader>cu :action CloseAllUnmodifiedEditors<CR>
    noremap <silent> <leader>co :action CloseAllEditorsButActive<CR>
    " code action
    noremap <silent> <leader>ca :action ShowIntentionActions<CR>
    noremap <silent> <leader>cw :action SurroundWith<CR>
    voremap <silent> <leader>cw :action SurroundWith<CR>
    noremap <silent> <leader>cc :action Unwrap<CR>
    voremap <silent> <leader>cc :action Unwrap<CR>
    noremap <silent> <leader>cd :action FindUsages<CR>
    voremap <silent> <leader>cd :action FindUsages<CR>
    " goto error code
    noremap <silent> <leader>cn :action GotoNextError<CR>
    noremap <silent> <leader>cp :action GotoPreviousError<CR>
    " toggle
    noremap <silent> <leader>td :action ToggleRenderedDocPresentation<CR>
    noremap <silent> <leader>tb :action ToggleLineBreakpoint<CR>
    " format code
    noremap <silent> <leader>rc :action ReformatCode<CR>
    noremap <silent> <leader>rf :action RenameFile<CR>
    noremap <silent> <leader>re :action RenameElement<CR>
    noremap <silent> <leader>rE :action RenameElement<CR>ciw
    " new file
    noremap <silent> <leader>nk :action Kotlin.NewFile<CR>
    " split window
    noremap <silent> <leader>sv :action SplitVertically<CR>
    noremap <silent> <leader>mr :action MoveTabRight<CR>
    noremap <silent> <leader>sh :action SplitHorizontally<CR>
    noremap <silent> <leader>md :action MoveTabDown<CR>
    noremap <silent> <leader>mo :action MoveEditorToOppositeTabGroup<CR>
    " copy special mode
    noremap <silent> <leader>yiw :action CopyReference<CR>
    " rewrite vim map
    noremap <silent> <C-o> :action Back<CR>
    noremap <silent> <C-i> :action Forward<CR>

    " --- insert mode ---
    inoremap <silent> <C-i> <esc>:action ImplementMethods<CR>
    nnoremap <silent> <C-j> :m +1<CR>
    nnoremap <silent> <C-k> :m -2<CR>
    inoremap <silent> <C-j> <esc>:m +1<CR>gi
    inoremap <silent> <C-k> <esc>:m -2<CR>gi

    if &ide =~? 'android studio'
        noremap <silent> <leader>al :action ActivateLogcatToolWindow<CR>
        noremap <silent> <leader>ss :action Android.SyncProject<CR>
    else
        noremap <silent> <leader>ss :action ExternalSystem.RefreshAllProjects<CR>
    endif

endif
