""" 设置当前行号
set number
set relativenumber
""" 设置vim数字格式为10进制
set nrformats=
""" 回溯历史命令，避免使用光标按键
cnoremap <C-p> <Up>
cnoremap <C-n> <Down>

""" 映射%%为%:h ，方便展开当前文件所在的目录
cnoremap <expr> %% getcmdtype() == ':' ? expand('%:h').'/' : '%%'

""" netrw插件
set nocompatible
filetype plugin on

""" 增强%命令，如可匹配HTML的标签页，if/else跳转
runtime macros/matchit.vim

""" 增量查找
set incsearch
""" 查找结果高亮
set hlsearch

set scrolloff=5
""" formatting
map Q gq

""" only english input allowed in normal mode
set keep-english-in-normal

""" clip to unnamed register
set clipboard+=unnamed


""" ----------- Plugin ----------
set surround
let mapleader=" "
set easymotion

if has('ide')

    """ ----------- Bind IDE Action ----------

    """ --- normal mode ---
    noremap <silent> <leader>r :action Run<CR>
    noremap <silent> <leader>R :action RunClass<CR>
    noremap <silent> [w :action CloseContent<CR>
    noremap <silent> [b :action PreviousTab<CR>
    noremap <silent> ]b :action NextTab<CR>
    """ active tool window related
    noremap <silent> <leader>ha :action HideAllWindows<CR>
    noremap <silent> <leader>ap :action ActivateProjectToolWindow<CR>
    noremap <silent> <leader>at :action ActivateTerminalToolWindow<CR>
    noremap <silent> <leader>ab :action ActivateBuildToolWindow<CR>
    noremap <silent> <leader>a0 :action ActivateCommitToolWindow<CR>
    noremap <silent> <leader>ad :action ActivateDebugToolWindow<CR>
    noremap <silent> <leader>as :action ActivateStructureToolWindow<CR>
    noremap <silent> <leader>af :action SelectInProjectView<CR>
    """ close editors related
    noremap <silent> <leader>ct :action CloseActiveTab<CR>
    noremap <silent> <leader>cu :action CloseAllUnmodifiedEditors<CR>
    noremap <silent> <leader>ca :action CloseAllEditors<CR>
    noremap <silent> <leader>co :action CloseAllEditorsButActive<CR>
    """ toggle
    noremap <silent> <leader>td :action ToggleRenderedDocPresentation<CR>

    """ --- insert mode ---
    inoremap <silent> <C-i> <esc>:action ImplementMethods<CR>gi

    if &ide =~? 'android studio'
        noremap <silent> <leader>al :action ActivateLogcatToolWindow<CR>
        noremap <silent> <leader>s :action Android.SyncProject<CR>
    else
        noremap <silent> <leader>s :action ExternalSystem.ProjectRefreshAction<CR>
    endif

endif
